[submodule "thirdparty/plgd"]
	path = thirdparty/plgd
    url = https://github.com/lemene/plgd.git
[submodule "thirdparty/ksw2"]
	path = thirdparty/ksw2
	url = https://github.com/lh3/ksw2.git
[submodule "thirdparty/edlib"]
	path = thirdparty/edlib
	url = https://github.com/Martinsos/edlib.git
[submodule "thirdparty/mbio"]
	path = thirdparty/mbio
	url = https://github.com/lemene/mbio.git
[submodule "thirdparty/htslib"]
	path = thirdparty/htslib
	url = https://github.com/samtools/htslib.git
[submodule "thirdparty/bloom"]
	path = thirdparty/bloom
	url = https://github.com/ArashPartow/bloom.git
